* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Playfair";
    src: url(/fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Cairo";
    src: url(/fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
    font-display: swap;
}

:root {
    --background-color: #e6d9d8;
    --primary-color: #674636;
    --secundairy-color: #AAB396;
    --alternate-color: #F7EED3;
    --text-color: #53584e;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: var(--background-color);
    background-image: url(/images/beige-paper.png);
    color: var(--text-color);
    scroll-behavior: smooth;
}

main {
    padding-top: 100px;
    flex: 1;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-family: "Cairo", Arial, Helvetica, sans-serif;
    color: inherit;
}


.line-wrapper-title {
    display: block;
    overflow: hidden;
    position: relative;
  }
  
  .line {
    display: inline-block;
    transform: translateY(115px);
    transition: transform 0.2s ease-out;
  }
  

@media screen and (min-width: 1080px) {
    main {
        padding-top: 120px;
    }
}

@media screen and (min-width: 1280px) {
    main {
        padding-top: 140px;
    }
}