---
import Layout from "../layouts/Layout.astro";
import Spinner from "../components/spinner.astro";
---

<script>
	const buttons = document.querySelectorAll(".behandelingen-button");
	const infoElements = document.querySelectorAll(".behandelingen-info");

	buttons.forEach((button, index) => {
		button.addEventListener("click", () => {
			// Zorg ervoor dat het juiste info-element wordt aangesproken
			const info = infoElements[index];

			// Toggle een bepaalde klasse, bijvoorbeeld 'active'
			button.classList.toggle("rotate");
			info.classList.toggle("active");
		});
	});
</script>

<Layout>
	<section class="hero">
		<h1>Jouw moment van rust begint bij Zensation</h1>
		<p>
			Ervaar de ultieme ontspanning. Laat stress los en kom volledig tot
			rust met onze professionele massages.
		</p>
		<a
			>Boek nu jouw moment van rust
			<div>
				<svg
					fill="#53584e"
					height="24"
					viewBox="0 -960 960 960"
					width="24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m700-300-57-56 84-84h-607v-80h607l-83-84 57-56 179 180z"
					></path></svg
				>
			</div>
		</a>
		<a
			>Of bekijk onze behandelingen
			<div>
				<svg
					fill="#53584e"
					height="24"
					viewBox="0 -960 960 960"
					width="24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m700-300-57-56 84-84h-607v-80h607l-83-84 57-56 179 180z"
					></path></svg
				>
			</div>
		</a>
		<div class="hero-image">
			<img
				src="/images/Massagesalon.webp"
				alt="massagesalon"
				width="900px"
				height="600px"
			/>
		</div>
	</section>

	<section class="over">
		<div class="spinner-container left">
			<Spinner />
		</div>
		<h2>Over Zensation</h2>
		<p>
			Al 20 jaar bieden wij in het hart van Amsterdam Zuid een plek waar
			je kunt ontsnappen aan de drukte en volledig tot rust kunt komen.
			Onze massages zijn meer dan alleen een behandeling, ze zijn een
			moment van aandacht, herstel en ontspanning.<br />
			<br />
			Of je nu op zoek bent naar diepe ontspanning, spierherstel of stressverlichting,
			ons ervaren team zorgt ervoor dat jij je herboren voelt.
			<br />
			Met een warme, rustgevende sfeer en persoonlijke aandacht zorgen we ervoor
			dat iedere massage volledig is afgestemd op jouw behoeften.
		</p>
		<a
			>Boek nu jouw moment van rust
			<div>
				<svg
					fill="#53584e"
					height="24"
					viewBox="0 -960 960 960"
					width="24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m700-300-57-56 84-84h-607v-80h607l-83-84 57-56 179 180z"
					></path></svg
				>
			</div>
		</a>
		<div class="hero-image">
			<img
				src="/images/Massagesalon.webp"
				alt="massagesalon"
				width="900px"
				height="600px"
			/>
		</div>
	</section>
	<section class="behandelingen">
		<div class="spinner">
			<div class="spinner-container right">
				<Spinner />
			</div>
		</div>
		<h2>Behandelingen</h2>
		<p class="behandelingen-text">
			Ontdek onze zorgvuldig samengestelde behandelingen en kies wat jouw
			lichaam nodig heeft.
		</p>
		<ul>
			<li>
				<a
					>Ontspanningsmassage
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
			<li>
				<a
					>Deep Tissue Massage
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
			<li>
				<a
					>Hot Stone Massage
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
			<li>
				<a
					>Hoofdpijn- & Nekmassage
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
			<li>
				<a
					>Dry needling
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
			<li>
				<a
					>Cupping
					<div>
						<svg
							class="behandelingen-button"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 -960 960 960"
							width="24px"
							fill="currentColor"
							><path
								d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
							></path></svg
						>
					</div>
				</a>
				<p class="behandelingen-info">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Illum molestiae maiores quaerat debitis alias odit magnam
					vitae iusto architecto. Nesciunt voluptatibus saepe
					reprehenderit totam dignissimos inventore, veniam magni qui
					pariatur?
				</p>
			</li>
		</ul>
	</section>
	<section class="contact">
		<h2>Contact</h2>
		<p><span>E-mailadres:</span> info@zensation.nl</p>
		<p><span>Telefoonnummer:</span> 020-12345678</p>
		<p><span>Adres:</span> Amsterdam-Zuid</p>
		<a
			>Boek nu jouw moment van rust
			<div>
				<svg
					fill="#53584e"
					height="24"
					viewBox="0 -960 960 960"
					width="24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m700-300-57-56 84-84h-607v-80h607l-83-84 57-56 179 180z"
					></path></svg
				>
			</div>
		</a>
	</section>
	<div style="width: 100%">
		<iframe
			width="100%"
			height="600"
			frameborder="0"
			scrolling="no"
			src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Amsterdam-zuid(Sensation)&t=&z=14&ie=UTF8&iwloc=B&output=embed"
		>
		</iframe>
	</div>
</Layout>

<style>
	section {
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
	}

	h1 {
		font-size: 34px;
		max-width: 90%;
		line-height: 1.2;
		padding-bottom: 20px;
	}

	p {
		line-height: 1.2;
		letter-spacing: 1.1px;
		padding-bottom: 20px;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid var(--text-color);
		margin-bottom: 10px;
	}

	a:nth-of-type(2) {
		margin-bottom: 30px;
	}

	a div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 5px;
	}

	.hero-image {
		position: relative;
		width: 100%;
		height: auto;
		right: -20px;
		margin-left: auto;
		overflow: hidden;
		z-index: 10;
	}

	img {
		width: 100vw;
		height: auto;
	}

	.over {
		position: relative;
	}

	.over h2 {
		margin-left: auto;
		padding: 5px 0 20px 0;
	}

	.over p {
		width: 80%;
		margin-left: auto;
	}

	.spinner {
		position: relative;
	}

	.left {
		position: absolute;
		left: -15%;
		top: -10%;
	}

	.right {
		position: absolute;
		right: -15%;
		top: -80px;
		z-index: -10;
	}

	.over a {
		width: 80%;
		margin-left: auto;
		margin-bottom: 30px;
	}

	.over .hero-image {
		position: relative;
		width: 100%;
		height: auto;
		left: -20px;
		margin-left: auto;
		overflow: hidden;
		z-index: 10;
	}

	.behandelingen {
		/* position: relative; */
		padding: 0;
	}

	.behandelingen h2,
	.behandelingen-text {
		padding: 10px 20px;
	}

	.behandelingen ul {
		list-style: none;
		margin-top: 20px;
	}

	.behandelingen a {
		padding: 20px 0 20px 20px;
		margin: 0;
		border-top: 2px solid var(--text-color);
		border-bottom: 0;
	}

	.behandelingen ul li:nth-of-type(6) {
		border-bottom: 2px solid var(--text-color);
		margin-bottom: 30px;
	}

	.behandelingen-info {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;
		padding-bottom: 0;
		transition:
			opacity 0.2s ease-out,
			max-height 0.4s ease-out 0.2s,
			padding-bottom 0.4s ease-out 0.2s; /* Padding-bottom transitie toegevoegd */
	}

	.behandelingen-button {
		transition: transform 0.2s linear;
	}

	.behandelingen-button.rotate {
		transform: rotate(45deg);
	}

	.behandelingen-info.active {
		opacity: 1;
		max-height: 300px;
		padding-bottom: 20px; /* Hier de padding laten groeien */
		transition:
			max-height 0.4s ease-out,
			opacity 0.2s ease-out 0.25s,
			padding-bottom 0.4s ease-out; /* Padding loopt synchroon met max-height */
	}

	li a div {
		margin-right: 25px;
	}

	.contact {
		margin-bottom: 20px;
	}

	.contact h2 {
		margin-bottom: 20px;
	}

	.contact p span {
		font-weight: bold;
	}

	@media screen and (min-width: 1080px) {
		
	}

</style>
